////

@mixin color($color:#363636){
  color: $color;
}

@mixin content_title(){
  @include color($color:#aaa);
  font-size: 17px;
}

////

  html {
    scroll-behavior:smooth;
  }
  body{
    font-family: "游明朝",YuMincho,"Hiragino Mincho ProN W3","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  }

  .title{
    margin-top: 130px;
    margin-left: 15%;
    @include color();
  }

  .menu_title{
    margin-top: 130px;
    margin-left: 15%;
    @include color();
  }
  .main{
    display: flex;
    position: relative;
    margin-left: 15%;
    margin-top: 40px;
    h3{
      @include color();
    }

  }

  .menu{
    a{
      text-decoration: none;
      @include color();
      display: flex;
      line-height: 2;
    }
  }
  .content{
    width: 85%;
    margin-left: 90px;
    text-align: center;

    .works{
      margin-top: 25px;
      width: 100%;
      display: block;
    }

    .works_title{
      @include content_title();
    }
    .cards{
      margin-top: 25px;
      width: 98%;
      display: inline-flex;
      background-color: #f9f9f9;
    }

    .card{
      width: 25%;
      margin-top: 20px;
      margin-bottom: 20px;

      .text{
        width: 100%;
        text-align: center;
      }
    }

    .skill{
      margin-top: 100px;
      width: 100%;
      display: block;
    }

    .skill_title{
      @include content_title();
    }

    .title_description{
      margin-top: 10px;
      line-height: 2;
    }

    .profile{
      margin-top: 100px;
      width: 100%;
      display: block;
      @include content_title();
    }

    .profile-title{
      @include content_title();
    }

  }
